<!DOCTYPE html>
<html lang="en">
<body>
    <div class="regform">
        <h1>Quiz Embeded Link</h1>
	</div>
<div class="main">
	<form action="/embed_engine" method="post" enctype="multipart/form-data">
		<input type="file" name="fileupload" id="fileToUpload">
		<input type="submit" value="Upload File" name="submit">

		<button >
			<a href="/download_json">Click to Download the JSON file</a>
		</button>
		<button >
			<a href="/download_excel">Click to Download the EXCEL file</a>
		</button>
	</form>

</div>
</body>
</html>